<div class="{{currentDemo}}">
  {{#if currentDemo}}
    <button class="back" onclick={{action setCurrentDemo null}}>⬅️ Back</button>
    {{component currentDemo}}
  {{else}}
    <div class="demos">
      <h1>Glimmer Demos</h1>
      <ul>
        {{#each demos key="@index" as |demo|}}
          <li>
            <button onclick={{action setCurrentDemo demo}}>{{demo}}</button>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
